body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#login-form, #create-account-form, #shopper-interface, #shop_owner-interface {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
}

h2 {
  text-align: center;
}

label, input, select, button {
  display: block;
  width: 100%;
  margin: 10px 0;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
}

a {
  color: #007BFF;
  cursor: pointer;
}
